body {
    font-family: Arial, Helvetica, sans-serif;
}
.logo_image{
    position:absolute;
    top: 50px;
    left: 70px;
    width: 230px;
    height: 70px;
    z-index: 0;
}
.logo_image img{
    width:inherit;
    height: inherit;
}
#pictureContainer {
    position:relative;
    width:100%;
    height: 700px;

}
#pictureContainer img {
    position:absolute;
    width:100%;
    left:0;
}

@-webkit-keyframes imgFade {
    0% {opacity:1;}
    17% {opacity:1;}
    25% {opacity:0;}
    92% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes imgFade {
    0% {opacity:1;}
    17% {opacity:1;}
    25% {opacity:0;}
    92% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes imgFade {
    0% {opacity:1;}
    17% {opacity:1;}
    25% {opacity:0;}
    92% {opacity:0;}
    100% {opacity:1;}
}

@keyframes imgFade {
    0% {opacity:1;}
    17% {opacity:1;}
    25% {opacity:0;}
    92% {opacity:0;}
    100% {opacity:1;}
}

#pictureContainer img {
    -webkit-animation-name: imgFade;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 8s;

    -moz-animation-name: imgFade;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 8s;

    -o-animation-name: imgFade;
    -o-animation-timing-function: ease-in-out;
    -o-animation-iteration-count: infinite;
    -o-animation-duration: 8s;

    animation-name: imgFade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}
#pictureContainer img:nth-of-type(1) {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    animation-delay: 6s;
}
#pictureContainer img:nth-of-type(2) {
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -o-animation-delay: 4s;
    animation-delay: 4s;
}
#pictureContainer img:nth-of-type(3) {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
}
#pictureContainer img:nth-of-type(4) {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}
#beginExplore{
    position: relative;
    text-align: center;
    z-index:1;
}
.beginExplore_button{
    margin-top: -350px;
    top:400px;
    width: 120px;
    background-color: #fb4128;
    border-radius: 0px;
    color:#ffffff;
    height: 3em;
    border-width: 0px;
    font-size: 1.5em;
}

.beginExplore_button:hover{
    color:#fb4128;
    border-width:1px;
    border-color: #fb4128;
    background-color: transparent;
}

.container_wapper {
    width: 100%;
    background: #c0c0c0;
    border-bottom: 1px solid #fff;
}
.section_header  {
    height: 150px;
    background: url("../images/section-header.png") center center no-repeat;
}
.section_header  h1 {
    margin-top: 50px;
    text-align: center;
}


/* templatemo_main_menu */
#templatemo_main_menu {
    /*background: #e7eaef;*/
    /*background: #ffffff;*/
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #d7dadd;
    /*z-index: 1500;*/
}
#templatemo_main_menu .nav-justified li {
    height: 70px;
}
#templatemo_main_menu .nav-justified li a {
    height: 70px;
    font-size: 20px;
    line-height: 50px;
    color: #000;
    margin-right:0px;
    margin-left:0px;
}
#templatemo_main_menu .nav-justified li a.current,
#templatemo_main_menu .nav-justified li a:hover {
    background: #35abd9;
    color: #fff;
}

/* slide picture */
#slidepicture {
    position: relative;
    height: 750px;
    margin-bottom: 80px;
    margin-top: 0px;
    padding-top: 0px;
}

#slidepicture .carousel-caption {
    margin-bottom: 200px;
}

#slidepicture h1 {
    font-size: 65px;
    color: #444;
}

#slidepicture h2 {
    font-style: none;
    color: #444;
}

#slidepicture hr {
    color: #ff3333;
    border-color: #ff3333;
    width: 350px;
}

#slidepicture .btn-explore {
    background-color: #d45555;
    color: #ffffff;
    font-size: 18px;
    height: 50px;
    width: 150px;
    margin-top: 100px;
    padding-top: 10px;
}

#slidepicture .btn-explore:hover {
    background-color: transparent;
    border: 2px solid #d45555;
}


/* templatemo_upcomming_event */
#templatemo_upcomming_event {
    position: relative;
    background: #ffffff;
    /*background: #66ffff;*/
    overflow: hidden;
}
#templatemo_upcomming_event h1 {
    color: #444444;
}
#templatemo_upcomming_event p {
    text-align: center;
}

#templatemo_upcomming_event .event-header p {
    text-align: center;
    font-size: 18px;
}

#templatemo_upcomming_event .event_box {
    margin-top: 30px;
    /*margin-bottom: 60px;*/
    padding-bottom: 30px;
    min-height: 425px;
    background: #eeeeee;
    /*background: #66ffff;*/
    box-shadow: inset 0px 0px 0px 1px rgba(210, 210, 210, 1);
    position: relative;
}
#templatemo_upcomming_event .event_box ul {
    list-style: none;
    padding: 10px 10px 11px 10px;
    margin: 0;
}
#templatemo_upcomming_event .event_box ul li {
    list-style: none;
    padding: 10px 0 10px 0 ;
    margin: 0;
    font-size: 14px;
    line-height: 30px;
    border-top: 1px solid #e2e2e2;
}
#templatemo_upcomming_event .event_box ul li:first-child {
    border-top: 0px ;
}
#templatemo_upcomming_event .event_box ul li span{
    padding-right: 15px;
    color: #35abd9;
}

#templatemo_upcomming_event .event_box div {
    text-align: center;
    width: 150px;
    height: 60px;
    margin: auto;
}

#templatemo_upcomming_event .event_box div:hover {
    background: #CCE5F5;
}

#templatemo_upcomming_event .event_box div p a {
    display: block;
    border: 2px solid #35a9d8;
    font-size: 20px;
    color: #35a9d8;
    width: 100%;
    padding: 12px 0px;
    text-decoration: none;
}

#templatemo_upcomming_event #prev_event_btn ,
#templatemo_upcomming_event #next_event_btn {
    margin-top: 60px;
    margin-bottom: 0px;
}
#templatemo_upcomming_event #prev_event_btn a  ,
#templatemo_upcomming_event #next_event_btn a {
    background: #eeeeee;
    width: 60px;
    height: 60px;
	padding: 12px;
    font-size: 28px;
    display: block;
    float: left;
    color: #0eb1dc;
}
#templatemo_upcomming_event #prev_event_btn a:hover ,
#templatemo_upcomming_event #next_event_btn a:hover {
    background: #e2e2e2;
}
#templatemo_upcomming_event #prev_event_btn a {
    float: right;
}
#templatemo_upcomming_event #next_event_btn a {
    float: left;
}

/* templatemo_pricing */
#templatemo_pricing {
    background: #226080;
    overflow: hidden;
    margin-top: 50px;
}
#templatemo_pricing h1 {
    color: #ffffff;
}

#templatemo_pricing p {
    text-align: center;
}

#templatemo_pricing .pricing-header p {
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}

#templatemo_pricing .event_box {
    margin-top: 70px;
    /*margin-bottom: 60px;*/
    padding-bottom: 30px;
    min-height: 425px;
    background: #eeeeee;
    box-shadow: inset 0px 0px 0px 1px rgba(210, 210, 210, 1);
    position: relative;
}
#templatemo_pricing .event_box ul {
    list-style: none;
    padding: 25px 30px 15px 30px;
    margin: 0;
}
#templatemo_pricing .event_box ul li {
    list-style: none;
    padding: 10px 0 10px 0 ;
    margin: 0;
    font-size: 14px;
    line-height: 30px;
    border-top: 1px solid #e2e2e2;
}
#templatemo_pricing .event_box ul li:first-child {
    border-top: 0px ;
}
#templatemo_pricing .event_box ul li span{
    padding-right: 15px;
    color: #35abd9;
}

#templatemo_pricing .event_box div {
    text-align: center;
    width: 150px;
    height: 60px;
    margin: auto;
}

#templatemo_pricing .event_box div:hover {
    background: #CCE5F5;
}

#templatemo_pricing .event_box div p a {
    display: block;
    border: 2px solid #35a9d8;
    font-size: 20px;
    color: #35a9d8;
    width: 100%;
    padding: 12px 0px;
    text-decoration: none;
}

#templatemo_pricing #prev_event_btn ,
#templatemo_pricing #next_event_btn {
    margin-top: 60px;
    margin-bottom: 60px;
}
#templatemo_pricing #prev_event_btn a  ,
#templatemo_pricing #next_event_btn a {
    background: #eeeeee;
    width: 60px;
    height: 60px;
    padding: 12px;
    font-size: 28px;
    display: block;
    float: left;
    color: #0eb1dc;
}
#templatemo_pricing #prev_event_btn a:hover ,
#templatemo_pricing #next_event_btn a:hover {
    background: #e2e2e2;
}
#templatemo_pricing #prev_event_btn a {
    float: right;
}
#templatemo_pricing #next_event_btn a {
    float: left;
}


/* templatemo_blog */
#templatemo_blog {
    background: #ffffff;
    padding-bottom: 60px;
    overflow: hidden;
}
#templatemo_blog img {
    margin-bottom: 30px;
    margin-top: 30px;
}
#templatemo_blog h1 {
    font-size: 30px;
    text-align: center;
}
#templatemo_blog .blog_text {
    margin-bottom: 30px;
    margin-top: 50px;
}
#templatemo_blog .blog_text h1 {
    padding: 0;
    margin: 0;
}
#templatemo_blog .blog_text p {
    padding: 18px 0 0 0;
    margin: 0;
    font-size: 14px;
    line-height: 24px;
}

/* templatemo_contact */
#templatemo_contact {
    background: #f2f2f2;
    padding-bottom: 30px;
}
#templatemo_contact p {
    text-align: center;
}
#templatemo_contact form p {
    text-align: left;
    padding-top: 45px;
}
#templatemo_contact form textarea,
#templatemo_contact form input[type=text] {
    width: 100%;
    border: 2px solid #dbdbdb;
    padding: 10px;
}
#templatemo_contact form input[type=text] {
    height: 50px;
}
#templatemo_contact form textarea {
    height: 180px;
}
#templatemo_contact form textarea:focus,
#templatemo_contact form input[type=text]:focus {
    border: 2px solid #c1c1c1;
}
#templatemo_contact form button {
    width: 100%;
    border: 2px solid #008fc9;
	font-size: 20px;
	padding: 30px;
    background: #35a9d8;
    margin-top: 45px;
    margin-bottom: 25px;
    color: #fff;
}
#templatemo_contact form button:hover {
    background: #008fc9;
}
#templatemo_contact #templatemo_contact_map_wapper {
    width: 100%;
    height: 245px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
#templatemo_contact #templatemo_contact_map {
    width: 100%;
    height: 245px;
    position: absolute;
    left: 0;
    background: #b3e9ff;
}
#templatemo_footer {
    background: #333333;
	padding: 30px 0px;
    font-size: 15px;
}
#templatemo_footer p {
    text-align: center;
    color: #c0c0c0;
    padding: 0;
    margin: 0;
}
#templatemo_footer a {
    text-decoration: underline;
    color: #333333;
}

/*CommentBoard*/
.commentboard{
    /*background-color:#d8d8d8;*/
    background: repeating-linear-gradient(
            45deg,
            #e9e9e9,
            #e9e9e9 10px,
            #FFFFFF 10px,
            #FFFFFF 11px
    );
    padding-bottom: 40px;
}
#commentboard_emailSection, #commentboard_qqSection{
    margin-left: 20px;
}
.commentboard_label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: "Microsoft YaHei";
    font-size: 1.3em;
    color: #000000;
}
.commentboard_submit{
    margin-top: 15px;
    background-color:#379bca;
    border-radius: 0px;
    color:#ffffff;
    height: 3em;
    border-width: 0px;
    font-size: 1.5em;
}
.commentboard_form{
    margin-top: 30px;
}
.commentboard_textfield{
    border-radius: 0px;
}
.commentboard_messageTextArea{
    width: 94%;
}
.commentboard_button{
    padding-left: 0px;
}
.commentboard_submit:hover{
    background-color:#ffffff;
    color:#379bca;
    border-width:1px;
    border-color: #379bca;

}
/*  Extra small devices (phones, less than 768px)  */
@media (max-width: 768px ) {
    #templatemo_banner_logo h1 {
        font-size: 46px;
        text-align: left;
    }
    #templatemo_banner_logo span {
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        text-align: left;
    }
	#templatemo_pricing .pricing_icon_wapper {
		margin-bottom: 50px;
	}
    #templatemo_contact form button {
		width: 100%;
		padding: 15px;
    }
}
/*  Small devices (tablets, 768px and up)  */
@media (min-width: 768px ) {

}
/*  Medium devices (desktops, 992px and up)  */
@media (min-width: 992px ) {
    #templatemo_banner_top p.right {
        text-align: right;
    }
    #templatemo_banner_top {
        height: 45px;
    }
}
/*  Large devices (large desktops, 1200px and up)  */
@media (min-width: 1200px ) {
}